.example-container {
    margin: 30px 60px;
    .title {
        text-align: center;
        margin-bottom: 30px;
    }

    .example-nav {
        margin-bottom: 30px;
        a {
            color: #aaa;
            position: relative;
            margin: {
                right: 30px;
            }
            &:hover,
            &.active {
                color: #22d7bb;
            }
            &:first-child {
                &::after {
                    content: ' | ';
                    color: #ddd;
                    position: absolute;
                    right: -15px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .example-container {
        margin: 30px 20px;
    }
}
