// .example-card {
//   width: 600px;
//   height: 800px;
// }

.example-container {
    margin: 30px 60px;
    .title {
        text-align: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .example-container {
        margin: 30px 20px;
    }
}
